 <div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">车辆信息</h3>
    <span data-toggle="modal" data-target="#myModal" class="box2">添加司机</span>
    <span data-toggle="modal" data-target="#mytruckLoad" class="box2">修改载重</span>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <div class="box">
    <div class="form-group">
      <label class="col-sm-2 control-label">车主姓名</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{truckInfo.owner}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">车牌号</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{truckInfo.truckNo}}</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">车型</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{truckInfo.model}}</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">载重</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{truckInfo.load}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">审核状态</label>
      <div class="col-sm-10">
        <p class="form-control-static" *ngIf="truckInfo.status==1">失败</p>
        <p class="form-control-static" *ngIf="truckInfo.status==2">成功</p>
        <p class="form-control-static" *ngIf="truckInfo.status==0">审核中</p>
        <p class="form-control-static" *ngIf="truckInfo.status==3">审核中</p>
      </div>
    </div>

  </div>

  <div class="">
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th>司机姓名</th>
        <th>电话号</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let truckDriverDTO of truckInfo.truckDriverDTOList ;let i = index;">
        <td>{{i+1}}</td>
        <td>{{truckDriverDTO.name}}</td>
        <td>{{truckDriverDTO.moblie}}</td>
        <td class="box2" data-toggle="modal" data-target="#mydelecttruck" (click)="clickIndex=i">移除</td>

      </tr>
    </table>
  </div>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
            添加司机
        </h4>
      </div>
      <div class="modal-body">
        <label>电话号码：<input name="phone" type="text" maxlength="11"(keyup)="checkMobile()"/></label>
        <label>司机姓名：<input id="name" type="text"></label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addDriver()">确定</button>

      </div>
    </div>
  </div>
</div>


 <div class="modal fade" id="mytruckLoad" tabindex="-1" role="dialog" aria-labelledby="mytruckLoad" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
           &times;
         </button>
         <h4 class="modal-title" >
           修改载重
         </h4>
       </div>
       <div class="modal-body">
         <label>载重：<input name="truckLoad" type="text" maxlength="3"/> 吨</label>

       </div>
       <div class="modal-footer">
         <button (click)="truckLoad()" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
       </div>
     </div>
   </div>
 </div>
 <div  class="modal fade" id="mydelecttruck" tabindex="-1" role="dialog" aria-labelledby="mytruckLoad" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
           &times;
         </button>
         <h4 class="modal-title" >

         </h4>
       </div>
       <div class="modal-body">
         确定要移除{{truckInfo.truckDriverDTOList[clickIndex].name}}司机吗？

       </div>
       <div class="modal-footer">
         <button  (click)="removeDriver(truckInfo.truckDriverDTOList[clickIndex].truckId,truckInfo.truckDriverDTOList[clickIndex].driverId)" type="button" class="btn btn-default" data-dismiss="modal">确定</button>

       </div>
     </div>
   </div>
 </div>
