<div class="box-body">
  <form class="row form-horizontal msl" [formGroup]="orderChildQCForm">
    <div class="col-lg-2">
      <div class="form-group" [class.has-error]="!(orderChildQCForm.get('childNo').valid || orderChildQCForm.get('childNo').value == '' || orderChildQCForm.get('childNo').value == null)">
        <label for="childNo" class="col-lg-5 control-label">订单号：</label>
        <div class="col-lg-7" >
          <!--<div class="col-lg-7 " [class.has-error]="!(orderChildQCForm.get('childNo').valid||orderChildQCForm.get('childNo').untouched)">-->
          <input type="text" formControlName="childNo" class="col-lg-12 form-control" id="childNo" placeholder="订单号">
        </div>
        <label class="help-block" [class.hidden]="!orderChildQCForm.hasError('minlength',['childNo'])" >请输入合法的17位订单号</label>
        <label class="help-block" [class.hidden]="!orderChildQCForm.hasError('maxlength',['childNo'])" >请输入合法的17位订单号</label>
      </div>
    </div>
    <!--<div class="col-lg-2">-->
      <!--<div class="form-group">-->
        <!--<label for="ownerName" class="col-lg-5 control-label">货主姓名：</label>-->
        <!--<div class="col-lg-7">-->
          <!--<input type="text" formControlName="ownerName" class="col-lg-12 form-control" id="ownerName"-->
                 <!--placeholder="货主姓名">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-2">-->
      <!--<div class="form-group">-->
        <!--<label for="truckNo" class="col-lg-5 control-label">车牌号：</label>-->
        <!--<div class="col-lg-7">-->
          <!--<input type="text" formControlName="truckNo" class="col-lg-12 form-control" id="truckNo" placeholder="车牌号">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-2">-->
      <!--<div class="form-group">-->
        <!--<label for="driverName" class="col-lg-5 control-label">司机姓名：</label>-->
        <!--<div class="col-lg-7">-->
          <!--<input type="text" formControlName="driverName" class="col-lg-12 form-control" id="driverName"-->
                 <!--placeholder="司机姓名">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-2">-->
      <!--<div class="form-group">-->
        <!--<label for="driverPhone" class="col-lg-5 control-label">司机手机号：</label>-->
        <!--<div class="col-lg-7">-->
          <!--<input type="text" formControlName="driverPhone" class="col-lg-12 form-control" id="driverPhone"-->
                 <!--placeholder="司机手机号">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="col-lg-2">
      <div class="form-group">
        <label for="status" class="col-lg-5 control-label">状态：</label>
        <div class="col-lg-7">
          <select id="status"   formControlName="status" class="form-control">
            <option *ngFor="let orderChildStatus of orderChildStatusList;" value="{{orderChildStatus.status}}" [selected]="orderChildQCForm.get('status').value == orderChildStatus.status">{{orderChildStatus.description}}</option>
          </select>
        </div>
      </div>
    </div>
    <!--<div class="col-lg-2">-->
      <!--<div class="form-group">-->
        <!--<label for="status" class="col-lg-5 control-label">订单类型：</label>-->
        <!--<div class="col-lg-7">-->
          <!--<select id="orderType"   formControlName="orderType" class="form-control">-->
            <!--<option value="" [selected]="orderChildQCForm.get('orderType').value == '' || orderChildQCForm.get('orderType').value == null">全部</option>-->
            <!--<option value="1">运货订单</option>-->
            <!--<option value="2">销货订单</option>-->
          <!--</select>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!-- Date and time range -->
    <!--<div class="col-lg-7">-->
      <!--<div class="input-group">-->
        <!--<label for="timeRangeInput" class="col-lg-5 control-label">时间范围:</label>-->
        <!--<div class="input-group-addon">-->
          <!--<i class="fa fa-clock-o"></i>-->
        <!--</div>-->
        <!--<div id="timeRange" class="col-lg-7">-->
          <!--<input type="text" formControlName="timeRangeInput" id="timeRangeInput" class="col-lg-12 form-control">-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /.input group &ndash;&gt;-->
    <!--</div>-->
    <div class="col-lg-1">
      <input type="button" class="btn btn-block btn-primary" (click)="searchOrderChildList()" value="搜索">
    </div>
    <!-- /.form group -->

  </form>
</div>

<div class="box">
  <!-- /.box-header -->
  <div class="box-body">
    <table id="orderChildListTable" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>序号</th>
        <th>订单号</th>
        <th>货主名</th>
        <th>车牌号</th>
        <th>司机姓名</th>
        <th>司机手机号</th>
        <th>货物保险(元)</th>
        <th>赔偿金(元)</th>
        <th>状态</th>
        <th>类型</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i = index; let orderChild of orderChildList">
        <td>{{(orderChildQCForm.get("pageNum").value - 1) * orderChildQCForm.get("pageSize").value + i + 1}}</td>
        <td>{{orderChild.childNo}}</td>
        <td>{{orderChild.ownerName}}</td>
        <td>{{orderChild.truckNo}}</td>
        <td>{{orderChild.driverName}}</td>
        <td>{{orderChild.driverPhone}}</td>
        <td>{{orderChild.insuranceFee | number:'.2'}}</td>
        <td>{{orderChild.compensationFee | number: '.2'}}</td>
        <td>{{orderChild.status | orderComplete: ''}}</td>
        <td *ngIf="orderChild.orderType === 1">运货订单</td>
        <td *ngIf="orderChild.orderType === 2">销货订单</td>
        <td>{{orderChild.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>
          <a type="button" class="btn-sm btn-primary" (click)="toOrderChildDetail(orderChild)">查看详情</a>
          <a type="button" class="btn-sm btn-primary" (click)="modifyToStatus(orderChild.childNo)">返回到达货源地</a>
          <a type="button" class="btn-sm btn-primary" (click)="completeOrder(orderChild.childNo)">一键取消</a>
          <a type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myLoad" (click)="clickIndex=i">修改车辆载重</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>序号</th>
        <th>订单号</th>
        <th>货主名</th>
        <th>车牌号</th>
        <th>司机姓名</th>
        <th>司机手机号</th>
        <th>货物保险</th>
        <th>赔偿金</th>
        <th>状态</th>
        <th>类型</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
      </tfoot>
    </table>
  </div>

  <!-- /.box-body -->
</div>
<app-pagination [currentPage]="orderChildQCForm.get('pageNum').value" [pageSize]="orderChildQCForm.get('pageSize').value" [totalNum]="totalNum" [totalPages]="totalPages" (pageChange)="changePageNum($event)"></app-pagination>
<app-result-popup-window [result]="result" [status]="resultMsgStatus"></app-result-popup-window>
<div class="modal fade" id="myLoad" tabindex="-1" role="dialog" aria-labelledby="myLoad" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" >
          修改载重
        </h4>
      </div>
      <div class="modal-body">
        <label>载重：<input name="Load" type="text" maxlength="3"/> 吨</label>

      </div>
      <div class="modal-footer">
        <button  (click)="updatechildTruckLoad(orderChildList[clickIndex].childNo)" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
