<div class="box box-info">
  <div class="box-header with-border">
    <ul class="nav nav-tabs">
      <li role="presentation"><a (click)="showUserDetail(id)">基本信息</a></li>
      <li role="presentation"><a (click)="showOrderDetail(id)">货单信息</a></li>
      <li role="presentation" ><a (click)="showEvaluateDetail(id)">评价信息</a></li>
      <li role="presentation" ><a (click)="showAddressDetail(id)">地址信息</a></li>
      <li role="presentation" class="active"><a (click)="showBlackDetail(id)">黑名单信息</a></li>
    </ul>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <div class="box">
    <div class="box-header">

    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tr>
          <th>姓名</th>
          <th>手机号</th>
        </tr>
        <tr *ngFor="let blacklist of blackList ;let i = index;">
          <td></td>
          <td></td>

        </tr>
      </table>
    </div>
  </div>
  <!-- /.box -->



</div>
