<div class="box">
  <div class="box-header">
    <form class="row" [formGroup]="truckInfoQCForm">
      <div class="form-group col-sm-3">
        <input formControlName="owner" class="form-control" id="owner" placeholder="车主姓名">
      </div>

      <div class="form-group col-sm-3">
        <input formControlName="truckNo" class="form-control" id="truckNo" placeholder="车牌号">
      </div>

      <div class="form-group col-sm-3">
        <select id="status" class=" form-control" (change)="chooseStatus()">
          <option value="">全部状态</option>
          <option value="1">审核失败</option>
          <option value="2">审核通过</option>
          <option value="0">审核中</option>
        </select>
      </div>

      <div class="col-sm-2">
        <input type="button" class="btn btn-primary btn-sm" (click)="searchTruckInfoList()" value="搜索">
      </div>
      <!-- /.form group -->

    </form>
  </div>

  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th>入驻类型</th>
        <th>车主姓名</th>
        <th>车牌号</th>
        <th>手机号</th>
        <th>提交日期</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let truckAuthInfo of truckAuthInfoList ;let i = index;">
        <td>{{truckAuthInfo.id}}</td>
        <td>车辆</td>
        <td>{{truckAuthInfo.owner}}</td>
        <td>{{truckAuthInfo.truckNo}}</td>
        <td>{{truckAuthInfo.mobile}}</td>
        <td>{{truckAuthInfo.createTime}}</td>
        <td>
          <span *ngIf="truckAuthInfo.status==0">审核中</span>
          <span *ngIf="truckAuthInfo.status==1">审核失败</span>
          <span *ngIf="truckAuthInfo.status==2">审核通过</span>
          <span *ngIf="truckAuthInfo.status==3">审核中</span>
        </td>
        <td>
          <a class="btn btn-warning btn-xs" *ngIf="truckAuthInfo.status==0 || truckAuthInfo.status==3" (click)="update(truckAuthInfo)">审核</a>
          <a class="btn btn-info btn-xs" *ngIf="truckAuthInfo.status==1 || truckAuthInfo.status==2" (click)="update(truckAuthInfo)">查看</a>
        </td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  <app-pagination [currentPage]="pageNum" [pageSize]="pageSize" [totalNum]="totalNum" [totalPages]="totalPages" (pageChange)="changePageNum($event)"></app-pagination>
</div>
<!-- /.box -->
