<button class="btn-primary"  (click)="showForm('create')">新建</button>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">货主取消子订单赔偿规则</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>序号</th>
            <th>ID</th>
            <th>超时时间（分钟）</th>
            <th>赔偿金额（元）</th>
            <th>创建时间</th>
            <th>最后修改时间</th>
            <th>操作</th>
          </tr>
          <tr *ngFor="let i = index; let orderChildOwnerCancelRule of orderChildOwnerCancelRuleList">
            <td>{{i + 1}}</td>
            <td>{{orderChildOwnerCancelRule.id}}</td>
            <td>{{orderChildOwnerCancelRule.time}}</td>
            <td>{{orderChildOwnerCancelRule.compensationFee | number: ".2-2"}}</td>
            <td>{{orderChildOwnerCancelRule.createTime}}</td>
            <td>{{orderChildOwnerCancelRule.modifiedTime}}</td>
            <td>
              <a type="button" (click)="deleteOrderChildOwnerCancelRule(orderChildOwnerCancelRule.id)" class="btn btn-danger">删除</a>&nbsp;
              <a type="button" (click)="update(orderChildOwnerCancelRule)" class="btn btn-warning">修改</a></td>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>

<div class="box-body" [hidden]="formOperation == null">
  <form class="row form-horizontal" [formGroup]="orderChildOwnerCancelRuleForm">
    <div class="col-lg-2">
      <div class="form-group">
        <label for="id" class="col-lg-5 control-label">Id：</label>
        <div class="col-lg-7">
          <input type="text" readonly formControlName="id" class="col-lg-12 form-control" id="id" placeholder="id">
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group" [class.has-error]="!(orderChildOwnerCancelRuleForm.get('time').valid||orderChildOwnerCancelRuleForm.get('time').untouched)">
        <label for="time" class="col-lg-5 control-label">时间：</label>
        <div class="col-lg-7">
          超过
          <input type="text" formControlName="time" class="col-lg-12 form-control" id="time" placeholder="时间">
          分钟
        </div>
        <label class="help-block" [class.hidden]="!orderChildOwnerCancelRuleForm.hasError('min',['time'])" >时间最小为1分钟</label>
        <label class="help-block" [class.hidden]="!orderChildOwnerCancelRuleForm.hasError('int',['time'])" >时间必填,且为整数</label>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group" [class.has-error]="!(orderChildOwnerCancelRuleForm.get('compensationFee').valid||orderChildOwnerCancelRuleForm.get('compensationFee').untouched)">
        <label for="compensationFee" class="col-lg-5 control-label">赔偿金额：</label>
        <div class="col-lg-7">
          <input type="text" formControlName="compensationFee" class="col-lg-12 form-control" id="compensationFee" placeholder="赔偿金额">
        </div>
        <label class="help-block" [class.hidden]="!orderChildOwnerCancelRuleForm.hasError('min',['compensationFee'])" >时间最小为1分钟</label>
        <label class="help-block" [class.hidden]="!orderChildOwnerCancelRuleForm.hasError('int',['compensationFee'])" >时间必填,且为整数</label>
      </div>
    </div>
    <button (click)="submit()">保存</button>
  </form>
</div>
<app-confirm-popup-window [warningMsg]="warningMsg" (result)="setConfirmResult($event)"></app-confirm-popup-window>
<app-result-popup-window [result]="result" [status]="resultMsgStatus"></app-result-popup-window>
