<div class="box">
  <div class="box-header">
    <div>
      <a class="btn btn-success btn-sm " [routerLink] = "['recharge']" >充值记录</a>
      <a class="btn btn-success btn-sm " [routerLink] = "['binding']" >绑卡记录</a>
      <a class="btn btn-success btn-sm " [routerLink] = "['settlement']" >提现记录</a>
    </div>
    <div class="box-tools">
      <div class="input-group input-group-sm w35">
        <div class="input-group-btn-alone" >
        </div>
      </div>
    </div>

  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">

  </div>
  <!-- /.box-body -->
</div>
<router-outlet></router-outlet>
