<div>
  <button type="button" class="btn btn-primary btn-sm" (click)="goBack()">返回</button>
</div>
<div class="height36 b-b back_fff w100" >
    <!--<img src="../assets/images/goback.png" class="goback posi_abslotu posi_left transformY50" (click)="goBack()" alt=""/>-->
    <!--<img src="../assets/images/home.png" class="home posi_abslotu posi_right transformY50" (click)="goHome()" alt=""/>-->
</div>
<div id="container"></div>
<app-result-popup-window [result]="result" [status]="resultMsgStatus"></app-result-popup-window>

<!--<div style="width:100%;color: #000;height: 5rem;line-height:5rem;text-align:center;position: fixed;bottom: 0;background: #fff;">{{this.time}}</div>-->
