<div class="row">
  <div class="col-md-6">

    <div class="box box-info">
      <div class="box-header with-border">

      </div>
      <div class="box-body">
        <div class=" msl form-newline">

          <div class="form-group" [class.has-error]="!(key.valid||key.untouched)">
            <select class="form-control" [formControl]="key" id="key" placeholder="业务类型">
              <option value="">请选择</option>
              <option *ngFor="let e of list ;let i = index;" [value]="e.key">{{e.name}}</option>
            </select>
            <label class="help-block" [class.hidden]="!key.hasError('required')" >请选择</label>
          </div>

          <div class="form-group">
            <input [formControl]="hashKey" class="form-control" id="hashKey" placeholder="请输入key值">
          </div>

        </div>
      </div>
      <div class="box-footer">
        <button (click)="clear()" type="button" class="btn btn-default">清空</button>
        <button (click)="find()" [disabled]="saveBtn" class="btn btn-info pull-right">查询</button>

      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="box box-info">
      <div class="box-body">

        <div class="form-group">
          <textarea class="col-sm-12">{{data}}</textarea>
        </div>

      </div>
    </div>

  </div>
</div>
