<div class="box-body">
  <form class="row form-horizontal" [formGroup]="ownerInfoQCForm">
    <div class="col-lg-2">
      <div class="form-group">
        <label for="name" class="col-lg-5 control-label">货主姓名：</label>
        <div class="col-lg-7">
          <input type="text" formControlName="name" class="col-lg-12 form-control" id="name" placeholder="货主姓名">
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label for="mobile" class="col-lg-5 control-label">电话号：</label>
        <div class="col-lg-7">
          <input type="text" formControlName="mobile" class="col-lg-12 form-control" id="mobile"
                 placeholder="电话号">
        </div>
      </div>
    </div>
    <!--<div class="col-lg-2">-->
    <!--<div class="form-group">-->
    <!--<label for="status" class="col-lg-5 control-label">状态：</label>-->
    <!--<div class="col-lg-7">-->
    <!--<input type="text" formControlName="status" class="col-lg-12 form-control" id="status" placeholder="状态">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="col-lg-2">
      <div class="form-group">
        <label for="authed" class="col-lg-5 control-label">认证状态：</label>
        <div class="col-lg-7">
          <select id="authed" (change)="chooseAuthed()" class="form-control">
            <option value="">全部</option>
            <option value="1">审核失败</option>
            <option value="2">审核通过</option>
            <option value="3">审核中</option>
            <option value="0">未提交</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-lg-1">
      <input type="button" class="btn btn-block btn-primary" (click)="searchOwnerInfoList()" value="搜索">
    </div>
    <div class="col-lg-1">
      <input type="button" class="btn btn-block btn-primary" (click)="exportToExcel()" value="导出到Excel">
    </div>
    <!-- /.form group -->

  </form>
</div>
<div class="box">
  <div class="box-header">

  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th>姓名</th>
        <th>手机号</th>
        <th>认证状态</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let ownerInfo of ownerInfoList ;let i = index;">
        <td>{{ownerInfo.id}}</td>
        <td>{{ownerInfo.name}}</td>
        <td>{{ownerInfo.mobile}}</td>
        <td>
          <span *ngIf="ownerInfo.authed==0">未提交</span>
          <span *ngIf="ownerInfo.authed==1">审核失败</span>
          <span *ngIf="ownerInfo.authed==2">审核通过</span>
          <span *ngIf="ownerInfo.authed==3">审核中</span>
        </td>
        <td>
          <a class="btn btn-warning btn-xs" (click)="showUserDetail(ownerInfo.id)">查看</a>
          <!--<a class="btn btn-info btn-xs" >禁用</a>-->
        </td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  <app-pagination [currentPage]="pageNum" [pageSize]="pageSize" [totalNum]="totalNum" [totalPages]="totalPages" (pageChange)="changePageNum($event)"></app-pagination>
</div>
<!-- /.box -->

